body {
    font-family: Arial;
    padding: 20px;
}
input {
    width: 100%;
    padding: 12px;
    font-size: 18px;
}
#reader {
    width: 100%;
    margin-top: 20px;
    display: none;
}
h3{
	text-align: center;
}

p{
	font-style: italic;
	text-align: center;
	font-size: 11px;
}
#barcodeDS, #barcodeChiThi{
	height: 70px;
}
button {
	height: 50px;
	width: 150px;
}
#ket-qua{
	height: 150px;
    color: #fff;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-size: 38px;
}
.header{

}
.input-group-text{
	height: 70px;
    border-radius: 7px 0 0 7px;
    font-weight: bold;
}